.chibi-mal-vibing img {
    position: absolute;
    top: 13%; 
    left: 0;
    width: 100%;
    height: 100%;
    
    opacity: 0;
    animation: head-bop 0.6s steps(1) infinite;
}

.chibi-mal-vibing .frame-1 {
    animation-delay: 0s;
}

.chibi-mal-vibing .frame-2 {
    animation-delay: -0.1s;
}

.chibi-mal-vibing .frame-3 {
    animation-delay: -0.2s;
}

.chibi-mal-vibing .frame-4 {
    animation-delay: -0.3s;
}

.chibi-mal-vibing .frame-5 {
    animation-delay: -0.4s;
}

.chibi-mal-vibing .frame-6 {
    animation-delay: -0.5s;
}

@keyframes head-bop {
    0% {
        opacity: 1;
    }
    16.67% {
        opacity: 0;
    }
}