html, 

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center; 
    justify-content: center;
    background-color: black;
    color: white;
} 

.container {
    display: flex;
    align-items: center; 
    justify-content: center;
    max-width: 100vw; 
    min-width: 100px; 
}

.intro {
    position: relative;
    width: 8%;
    padding-top: 10%;
    height: 0;
    flex-shrink: 0;
}
    
.intro span{
    width: 15%;
    height: 0%;
    background-color: #db0001;
    position: absolute;
}

.mLeft {
    left: 0;
    bottom: 0;
    animation: anim 0.2s linear forwards 0.3s;
}

.mLeft-Diagonal{
    position: fixed;
    top: 0;
    left: 0;
    transform: skewX(17deg);
    transform-origin: 0% 0%;
    box-shadow: 0 0 20px #000;
    z-index: 2;
    animation: anim 0.2s linear forwards 0.4s;
}

.mRight-Diagonal{
    position: fixed;
    top: 0;
    right: 0;
    transform: skewX(-17deg);
    transform-origin: 0% 0%;
    box-shadow: 0 0 20px #000;
    z-index: 2;
    animation: anim 0.2s linear forwards 0.5s;
}

.mRight{
    right: 0;
    bottom: 0;
    animation: anim 0.2s linear forwards 0.6s;
}

.aLeft {
    position: fixed;
    top: 0;
    left: 37%;
    transform: skewX(-10deg);
    transform-origin: 0% 0%;
    box-shadow: 0 0 20px #000;
    z-index: 2;
    animation: anim 0.2s linear forwards 0.7s;
}

.aRight {
    position: fixed;
    top: 0;
    right: 37%;
    transform: skewX(10deg);
    transform-origin: 0% 0%;
    box-shadow: 0 0 20px #000;
    z-index: 2;
    animation: anim 0.2s linear forwards 0.8s;
}

.intro .aCross {
    position: absolute;   
    top: 70%;
    left: 37%;
    width: 20%;
    height: 0%;
    transform: rotate(270deg);
    transform-origin: top left;
    animation: anim-2 0.2s linear forwards 0.9s;

}

.lVertical {
    left: 0;
    bottom: 0;
    box-shadow: 0 0 20px #000;
    z-index: 2;
    animation: anim 0.2s linear forwards 1s;
}

.intro .lHorizontal {
    position: absolute;
    top: 100%;
    left: 10%;
    width: 20%;
    height: 0%;
    transform: rotate(270deg);
    transform-origin: top left;
    animation: anim-3 0.2s linear forwards 1.1s;
}

.intro::after {
    background: #000;
    content: '';
    width: 130%;
    height: 15%;
    border-radius: 90%;
    position: absolute;
    left: -2%;
    bottom: -10%;
    z-index: 5;
}

@keyframes anim {
    100% {
        height: 100%;
    }
}

@keyframes anim-2 {
    100% {
        height: 25%;
    }
}

@keyframes anim-3 {
    100% {
        height: 30%;
    }
}